<h1><%= t("view.new.title", model: BookMaster.model_name.human) %></h1>
<%= render "form", book_master: @book_master %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: BookMaster.model_name.human.pluralize), book_masters_path %>
</div>
