<h1><%= t("view.new.title", model: BookStockStatus.model_name.human) %></h1>
<%= render "form", book_stock_status: @book_stock_status %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: BookStockStatus.model_name.human.pluralize), book_stock_statuses_path %>
</div>
