<h1><%= t("view.new.title", model: NdcCategory.model_name.human) %></h1>
<%= render "form", ndc_category: @ndc_category %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: NdcCategory.model_name.human.pluralize), ndc_categories_path %>
</div>
